body {
    background-clip: border-box;
    background-origin: padding-box;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    font-family: arial;
    height: 100%;
    padding: 1px;
    position: relative;
    width: 100%;
    position: sticky;
}

header {
    background-color: #ffffff;
    background-image: url("/themes/cesi/images/bgd-logo.png");
    background-position: right top;
    background-repeat: no-repeat;


    padding-bottom:10px;
    width: 100%;

}

header img {
    margin: 1.5em;
    max-width: 10em;
}


p{
    padding-left: 40px;
    text-align: center;
}

h1 {
    padding:10px;
    text-align: center;
    color: #4d75bb;
}

h2 {
    padding:10px;
    text-align: center;
}

form {
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left:20%;
  margin-right:20%;
  border: solid #4d75bb;
  border-radius: 15px;
}

img.center {
display: block;
margin-left: auto;
margin-right: auto;
}

.info{
text-size: 80%;
color: #4C4C4C;
}

article {
  background-color: #a0abba;
  padding:20px;
  margin:40px;
  text-align: justify;
  color: #FFFFFF;
  border-radius: 15px;
}










