

body {
    background-clip: border-box;
    background-origin: padding-box;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    font-family: arial;
    height: 100%;
    padding: 1px;
    position: relative;
    width: 100%;
    position: sticky;
}

header {
    background-color: #ffffff;
    background-image: url("/themes/cesi/images/bgd-logo.png");
    background-position: right top;
    background-repeat: no-repeat;

    padding-bottom:10px;
    width: 100%;

}

header img {
    margin: 1.5em;
    max-width: 10em;
}

p{
    padding-left: 40px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #4d75bb;
}
h2{
    padding-left: 40px;
    color: #4d75bb;
}
