body {
    background-clip: border-box;
    background-origin: padding-box;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    font-family: arial;
    height: 100%;
    padding: 1px;
    position: relative;
    width: 100%;
    position: sticky;
}

header {
    background-color: #ffffff;
    padding-bottom:10px;
    width: 100%;

}

header img {
    margin: 1.5em;
    max-width: 10em;
}


p{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;

}

h1 {
    padding:10px;
    text-align: center;
    color: #4d75bb;
}

h2 {
    padding:10px;
    text-align: center;
}

form {
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left:20%;
  margin-right:20%;
  border: solid #4d75bb;
  border-radius: 15px;
  color: black;
}

img.center {
height:20%;
width:20%;
display: block;
margin-left: auto;
margin-right: auto;
}

.info{
text-size: 80%;
color: #4C4C4C;
}

article {
    background-color:  #2D3538;
    padding: 30px;
    margin: 50px;
    text-align: justify;
    color: #d69c2f;
    border-radius: 10px;
}

article h2,article h1{
    color:#ea9a02;
}

article h2 a:hover {
color:#ffaf19;
}

.error{
  color: #D8000C;
  background-color: #FFD2D2;
}

.warning{
  color: #D8000C;
}

.metadata{
  margin-left: 50px;
  text-size: 130%;
  color:#f2f2f2;
}

#Bphoto1{
height:25px;
width:25px;
}

